extends home

block projectNav
  - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Group Members
  li: a(href=urlBase + '/tasks') Tasks
  li.active: a(href=urlBase + '/events') Events

block projectContent
  h1 #{page.project.name}'s Events
  hr
  if events && events.length > 0
    .panel.panel-default
      table.table
        tr
          th Name
          th Description
          th Date
          th Location
          th &nbsp;
        each event in events
          tr
            td: a(href=urlBase + '/events/' + event.id + '-' + event.name) #{event.name}
            td #{event.description}
            td #{event.date}
            td #{event.location}
            td &nbsp;
  else
    p #{page.project.name} has not added any events yet.
  if page.props.project_own
    a.btn.btn-default(href=urlBase + '/events/new') Create an event
