extends ../mainLayout
//Project Home
block content
  .container
    .col-md-3.well
      h3 #{page.project.name}
      hr
      ul.nav.nav-pills.nav-stacked
        block projectNav
          - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
          li.active: a(href=urlBase) About
          li: a(href=urlBase + '/members') Group Members
          li: a(href=urlBase + '/tasks') Tasks
          li: a(href=urlBase + '/events') Events
    .col-md-9.well
      block projectContent
        h1 About #{page.project.name}
        hr
        h5 #{page.project.description}
