extends home
block append head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')

block projectNav
  - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
  li: a(href=urlBase) About
  li.active: a(href=urlBase + '/members') Group Members
  li: a(href=urlBase + '/tasks') To Do
  li: a(href=urlBase + '/events') Events

block projectContent
  br
  if groups
    .panel.panel-default
      table.table
        tr
          th Name
          th Joined
          th &nbsp;
        each group in groups
          tr
            td: a(href='/group/' + group.id + '-' + group.name) #{group.name}
            td #{group.joined}
            td &nbsp;

