extends home

block projectNav
  - var urlBase = '/project/' + page.project.id + '-' + page.project.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Group Members
  li.active: a(href=urlBase + '/tasks') Tasks
  li: a(href=urlBase + '/events') Events

block projectContent
  h1 #{page.project.name}'s Tasks
  hr
  if tasks && tasks.length > 0
    .panel.panel-default
      table.table
        tr
          th Name
          th Description
          th Created
          th Due
          th &nbsp;
        each task in tasks
          tr
            td: a(href=urlBase + '/tasks/' + task.id + '-' + task.name) #{task.name}
            td #{task.description}
            td #{task.created}
            td #{task.due}
            td &nbsp;
  else
    p #{page.project.name} has not created any tasks yet.
  if page.props.project_own
    a.btn.btn-default(href=urlBase + '/tasks/new') Create a task
