extends ../mainLayout
//Group Home
block content
  .container
    .col-md-3.well
      h3 #{page.group.name}
      hr
      ul.nav.nav-pills.nav-stacked
        block groupNav
          - var urlBase = '/group/' + page.group.id + '-' + page.group.name;
          li.active: a(href=urlBase) About
          li: a(href=urlBase + '/members') Members
          li: a(href=urlBase + '/projects') Projects
    .col-md-9.well
      block groupContent
        h1 About
        hr
        h4 #{page.group.slogan}
        h5 #{page.group.description}
