extends home

block groupNav
  - var urlBase = '/group/' + page.group.id + '-' + page.group.name;
  li: a(href=urlBase) About
  li: a(href=urlBase + '/members') Members
  li.active: a(href=urlBase + '/projects') Projects

block groupContent
  h1 #{page.group.name}'s Projects
  hr
  if projects
    .panel.panel-default
      table.table
        tr
          th Name
          th Description
          th Member Groups
          th Joined
          th &nbsp;
        each project in projects
          tr
            td: a(href='/project/' + project.id + '-' + project.name) #{project.name}
            td #{project.description}
            td #{project.members}
            td #{project.joined}
            td &nbsp;
  else
    p #{page.group.name} is not contributing to any projects yet.
  if page.props.group_own
    a.btn.btn-default(href=urlBase + '/projects/add') Create a project
