extends layout

block content
  h1= page.project.pname
  h3= page.project.descrip
  .container
      .well.col-md-6
        h1 Create a Task
        hr
        form#createtask(method='POST', action='/projects/#{page.project.id}-#{page.project.pname}')
          .form-group
            label.hidden-xs(for='tname') Name for Task
            input.form-control#tname(type='text', name='tname', placeholder='Enter a name for your task')= forms.createtask.data$
          .form-group
            label.hidden-xs(for='tdescrip') Description for Task
            input.form-control#tdescrip(type='text', name='tdescrip', placeholder='Enter a short description for your task')
          .form-group
            button.btn.btn-default Create
        a(href='/logout') Logout
  .container
      .well.col-md-6
        h1 Create an Event
        hr
        form#createevent(method='POST', action='/projects/#{page.project.id}-#{page.project.pname}')
          .form-group
            label.hidden-xs(for='name') Name of Event
            input.form-control#name(type='text', name='name', placeholder='Enter a name for your event')= forms.createevent.data$
          .form-group
            label.hidden-xs(for='descrip') Description of Event
            input.form-control#descrip(type='text', name='descrip', placeholder='Enter a short description of your event')
          .form-group
            label.hidden-xs(for='date') Date of Event
            input.form-control#date(type='date', name='date', placeholder='Enter the date of your event')
          .form-group
            label.hidden-xs(for='location') Location of Event
            input.form-control#location(type='text', name='location', placeholder='Enter the location of your event')
          .form-group
            button.btn.btn-default Create
        a(href='/logout') Logout
