extends ../mainLayout
block head
  script(type='text/javascript', src='/static/js/ajaxform.js')
  script(type='text/javascript', src='/static/js/ajaxform-bootstrap.js')
block content
  .container
    .col-md-3
      h3 #{page.user.username}
      hr
      ul.nav.nav-pills.nav-stacked
        li: a(href='/user/' + page.user.username) Profile
        li.active: a(href='/user/' + page.user.username + '/groups') Groups
        li: a(href='/user/' + page.user.username + '/projects') Projects
    .col-md-9
      block userContent
        if session && session.user && session.user.username === page.user.username
          h1 Your Groups
          hr
          a.btn.btn-default(href='/user/groups/add') Create a group
          br
        else
          h1 #{page.user.username}'s Groups
          hr
        br
        if groups
          .panel.panel-default
            table.table
              tr
                th Name
                th Slogan
                th Members
                th Joined
                th &nbsp;
              each group in groups
                tr
                  td: a(href='/group/' + group.id + '-' + group.name) #{group.name}
                  td #{group.slogan}
                  td #{group.members}
                  td #{group.joined}
                  td &nbsp;
          if addgroups
            if addgroups.length > 0
              form#addgroup.form-inline
                .form-group
                  label.hidden-xs(for='group') Add User to Group &nbsp;
                  select.form-control(name='group')
                    each group in addgroups
                      option(value=group.id) #{group.name}
                button.btn.btn-default(type='submit') Add
              script(type='text/javascript').
                $('document').ready(function(){
                  forms.addgroup.onSuccess(function(res) {
                    if (res.status === 0) {
                      window.location.reload();
                    }
                  });
                });
            else
              p #{page.user.username} is already a member of all of your groups.

        else
          p #{page.user.username} is not a member of any groups yet.
